[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
[submodule "public"]
	path = public
	url = git@github.com:wllfaria/williansfaria.github.io
	branch = main
